{# MACROS COMUNES AL PROYECTO #}

{#  MACRO NOTICIA #}
{# Es el resumen de una noticia y puede estar en las siguientes secciones: INDEX, NOTICIAS, EVENTOS #}
{# El contenido de un resumen de noticia sería: IMAGEN (puede llevar o no), FECHA (puede llevar o no), TÍTULO, SUBTÍTULO (puede llevar o no), PÁRRAFO #}
{% macro noticia (arrayNoticia)%}
<div class="evento_indiv">
	{% if arrayNoticia.imagen!="" %}
        <div class="imagen_evento">
		<img src="{{arrayNoticia.imagen}}" alt="{{arrayNoticia.titulo}}" title="{{arrayNoticia.titulo}}" />
		<a href="{{arrayNoticia.url}}" title="{{arrayNoticia.url}}"><span class="fecha_evento arriba">{{arrayNoticia.fecha}}</span></a>
	</div>
        {% endif %}
	<h2><a href="contenido-aislado.php" title="#">{{arrayNoticia.titulo}}</a></h2>
	<h3>{{arrayNoticia.subtitulo}}</h3>
	<p>{{arrayNoticia.descripcion}}</p>
</div>    
{% endmacro %}


{# MACRO VIDEO #}
{# Es la imagen del vídeo en la sección VÍDEOS #}
{# Los vídeos entran en un <div class="proyectosFila"> y cada "proyectosFila" contiene 3 vídeos,
 con lo que al recibir más vídeos se genera otro <div class="proyectosFila"> quedando siempre filas de 3 vídeos o menos, pero nunca más. #}
{# El array de un vídeo contiene: IMAGEN del vídeo, TITULO, ENLACE al vídeo individual #}
{# Es importante la variable 'key' porque el video 3 y sus múltiplos van a tener estilos diferenes que el 1 y el 2. #}
{% macro video (arrayVideo, key, nCaracteres)%}
{% set nCar=nCaracteres | default(100) %}
<div class="mosaic-block bar proyecto{{key}}">
    <div class="mosaic-backdrop"> 
        <img src="{{arrayVideo.imagen}}" alt="{{arrayVideo.titulo}}" title="{{arrayVideo.titulo}}" />
    </div>
        <a href="{{arrayVideo.enlaceVideo}}" class="mosaic-overlay">
            <span class="details">{{arrayVideo.titulo|slice(0, nCar)}}{% if arrayVideo.titulo | length > nCar %}...{% endif %}</span>
        </a>
</div>
{% endmacro %}