<div class="col_izqda">
    <ul class="menu_pie ancho">
        {% for seccion in values.menuPie.left %}
            <li><a href="{{app.path}}/{{seccion.url}}" title="{{seccion.nombre}}" {% if values.controller==seccion.controller %}class="activo"{% endif %}>{{seccion.nombre}}</a></li>
        {% endfor %}
    </ul>

    <ul class="menu_pie estrecho ultimo">
        {% for seccion in values.menuPie.right %}
            <li><a href="{{app.path}}/{{seccion.url}}" title="{{seccion.nombre}}" {% if values.controller==seccion.controller %}class="activo"{% endif %}>{{seccion.nombre}}</a></li>
        {% endfor %}
    </ul>
</div>

