{% extends layout %}

{% block body %}

    <div id="contenedor_global">
	<div id="logotipo"><a href="{{app.path}}" title=""><img src="{{app.path}}/images/{{values.datos.logo}}" alt="{{values.datos.empresa}}" title="{{values.datos.empresa}}" /></a></div>
	<div id="texto">
            <p>Tu navegador no est&aacute; actualizado para visualizar esta p&aacute;gina.</p>
            <p>Descarga cualquiera de las &uacute;ltimas versiones que te proponemos.</p>
		
            <div id="navegadores">
                <a href="http://view.atdmt.com/action/mrtiex_FY12IE9StaPrdIE9WWpageforVistaWin7FNL_1?href=http://download.microsoft.com/download/6/7/6/67666836-7A97-48D9-82BD-6E76B2A9D659/IE9-WindowsVista-x86-esn.exe" title="Descargar &uacute;ltima versi&oacute;n de Internet Explorer" class="link_tooltip marker_left" target="_blank"><img src="{{app.path}}/images/ie8.png" alt="Descargar &uacute;ltima versi&oacute;n de Internet Explorer" title="Descargar &uacute;ltima versi&oacute;n de Internet Explorer" /></a>
                <a href="http://www.mozilla.org/es-ES/download/?product=firefox-13.0.1&os=osx&lang=es-ES" title="Descargar &uacute;ltima versi&oacute;n de Mozilla Firefox" class="link_tooltip marker_left" target="_blank"><img src="{{app.path}}/images/firefox.png" alt="Descargar &uacute;ltima versi&oacute;n de Mozilla Firefox" title="Descargar &uacute;ltima versi&oacute;n de Mozilla Firefox" /></a>
                <a href="http://www.google.es/chrome/eula.html?hl=es&platform=linux_ubuntu_i386" title="Descargar &uacute;ltima versi&oacute;n de Google Chrome" class="link_tooltip marker_left" target="_blank"><img src="{{app.path}}/images/chrome.png" alt="Descargar &uacute;ltima versi&oacute;n de Google Chrome" title="Descargar &uacute;ltima versi&oacute;n de Google Chrome" /></a>
                <a href="http://www.opera.com/download/get.pl?id=34835&thanks=true&sub=true" title="Descargar &uacute;ltima versi&oacute;n de &Oacute;pera" class="link_tooltip marker_left" target="_blank"><img src="{{app.path}}/images/opera.png" alt="Descargar &uacute;ltima versi&oacute;n de &Oacute;pera" title="Descargar &uacute;ltima versi&oacute;n de &Oacute;pera" /></a>
                <a href="http://www.apple.com/es/safari/download/" title="Descargar &uacute;ltima versi&oacute;n de Safari" class="link_tooltip marker_left" target="_blank"><img src="{{app.path}}/images/safari.png" alt="Descargar &uacute;ltima versi&oacute;n de Safari" title="Descargar &uacute;ltima versi&oacute;n de Safari" /></a>
            </div>
	</div>
    </div>

{% endblock %}
