<div class="evento_indiv">
    {% if evento.imagen %}
    <div class="imagen_evento">
        <img src="{{evento.imagen}}" alt="{{evento.titulo}}" title="{{evento.titulo}}" />
        <a href="{{evento.url.url}}" title="{{evento.titulo}}"><span class="fecha_evento arriba">{{evento.fecha|date('d/m/Y')}}</span></a>
    </div>
    {% endif %}
    <h2>{{ macro.link(evento.titulo,none,evento.url.url,evento.url.targetBlank)}}</h2>
    <h3>{{evento.subtitulo}}</h3>
    <p>{% autoescape false %}{{evento.desarrollo}}{% endautoescape %}</p>
</div>