<ul class="galeria">
    {% for key, galeria in values.galeriaFotos[0].bloqueThumbnail %}
	<li {% if values.galeriaFotos.nThumbnail==key %}class="ultimo"{% endif %}>
            <a href="{{app.path}}/{{galeria.PathName}}" rel="gallery" class="pirobox_gall1" title="{{galeria.Title}}">
                <img src="{{app.path}}/{{galeria.PathNameThumbnail}}" alt="{{galeria.Title}}" title="{{galeria.Title}}" />
            </a>
	</li>       
    {% endfor %}    
</ul>

{% for galeria in values.galeriaFotos[0].restoImagenes %}
    <a href="{{app.path}}/{{galeria.PathName}}" rel="gallery" class="pirobox_gall1" title="{{galeria.Title}}"></a>
{% endfor %}  

<a href="galeria.php" title="ver m치s 치lbumes" class="albumes">m치s 치lbumes</a>			