<h2><a href="{{noticia.url.url}}" title="{{noticia.titulo}}">{{noticia.titulo}}</a></h2>
<h3><a href="{{noticia.url.utl}}" title="#">{{noticia.subtitulo}}</a></h3>
<a href="{{noticia.url.url}}" title="#">
    <img src="{{noticia.imagen}}" alt="{{noticia.titulo}}" title="{{noticia.titulo}}" class="img_noticias" />
</a>
<p>{{noticia.desarrollo}}</p>		
<a href="contenido-aislado.php" title="Seguir leyendo" class="saber_mas">+</a>				
