{# 
## Aquí tenemos que decirle, si solo hay 1 contenido desarrollado el h1 se queda tal cual, si hay más hay un titulo (de sección) por encima de h1
## Así que tenemos que forzar el h1 a que se convierta en h2. El h2 en h3 y el h3 en h4.
## Comprobar que he colocado bien la pregunta de que si el h1, h2, etc no está vacío, hay que pintarlo. Lo he comprobado con la fecha y no lo pinta.
## Contemplar la posibilidad de intercalar imágenes y texto. Párrafo + imagen + párrafo
#}


<div class="contenedorNoticia">
    {% set contenido = values.contenido %}    
    
    {% if contenido.ShowPublishedAt.IDTipo == '1' %}<div class="fecha">{{contenido.PublishedAt | date("d/m/Y")}}</div>{% endif %}

    {% if (contenido.MostrarTituloContenido.IDTipo and contenido.Titulo) %}<h1>{{contenido.Titulo}}</h1>{% endif %}

    {% if (contenido.MostrarSubtituloContenido.IDTipo and contenido.Subtitulo) %}<h2>{{contenido.Subtitulo}}</h2>{% endif %}

    {% if (contenido.MostrarResumenContenido.IDTipo and contenido.Resumen) %}<h3>{{contenido.Resumen}}</h3>{% endif %}

    {% if contenido.Desarrollo!="" %}<p>{% autoescape false%}{{contenido.Desarrollo}}{% endautoescape%}</p>{% endif %}

    {% if contenido.videoYoutube.video!="" %}
    <div class="videos_youtube">
            <iframe width="{{contenido.videoYoutube.ancho}}" height="{{contenido.videoYoutube.alto}}" src="http://www.youtube.com/embed/{{contenido.videoYoutube.video}}" frameborder="{{contenido.videoYoutube.anchoBorde}}"></iframe>
    </div>
    {% endif %}
      
</div>