{#
## Aquí tendremos que decirle que si hay más de un contenido desarrollado
## tenemos que pintar el div class="separacionVariosContenidos" debajo de cada contenido que haya excepto en el último.
#}


{% extends layout %}

{% block title parent() ~ " - Inicio" %}


{% block contenido %}
    <div class="col_drcha">
        {% include '_global/ruta.html.twig' %}

            <h1>{{values.listadoContenidos.tituloListado}}</h1>
            <ul class="listaContenidos">
                {% for listado in values.listadoContenidosDesarrollo %} 
                <li> 
                    {% if listado.titulo!="" %}<h1 class="con_fecha">{% if listado.enlace!="" %}<a href="{{app.path}}/{{listado.enlace}}">{{listado.titulo}}</a>{% else %}{{listado.titulo}}{% endif %}</h1>{% endif %}
                    {% if listado.fecha!="" %}<span class="fecha">{{listado.fecha}}</span>{% endif %}
                    {% if listado.subtitulo!="" %}<h2>{{listado.subtitulo}}</h2>{% endif %}
                    {% if listado.intro!="" %}<p>{{listado.intro}}</p>{% endif %}
                </li>
                {% endfor %}
                    
            </ul>
			
	{% include 'contenidos/botonera.html.twig' %} {# BOTONES ANTERIOR Y SIGUIENTE #}
	{#<a href="javascript:history.back()" title="volver atr&aacute;s" class="boton right">volver atr&aacute;s</a>#} {# BOTON VOLVER ATRÁS #}
        
        
    </div>

{% endblock %}
