<div class="mosaic-block bar proyecto{{key}}">
    <div class="mosaic-backdrop"> 
        <img src="{{galeria.imagen}}" alt="{{galeria.titulo}}" title="{{galeria.titulo}}" />
    </div>
        <a href="{{galeria.enlaceVideo}}" class="mosaic-overlay">
            <span class="details">{{galeria.titulo}}</span>
        </a>
</div>