{% extends layout %}

{% set nColumnas = 3 %}
{% set nuevaFila = 1 %}

{% block contenido %}
    <div class="col_drcha">
        {% include '/_global/ruta.html.twig' %}
	<h1>Galería de Vídeos</h1>
        
	<div id="showreel">
            <div id="video">
                <iframe width="417" height="329" src="http://www.youtube.com/embed/{{values.video.embed}}" frameborder="0" allowfullscreen></iframe>
            </div>
		<h2>{{values.video.titulo}}</h2>
		<p>Autor / Fuente: <strong>{{values.video.autor}}</strong></p>
		<p>{{values.video.descripcion}}</p>
		<p>{{values.video.descripcion}}</p>                
		<a href="javascript:history.back()" title="volver atr&aacute;s" class="boton right">volver atr&aacute;s</a>
	</div>

            {#{% for key, video in values.galeriaVideos.thumbnail %}
                
                {% if nuevaFila %}
                    <div class="proyectosFila">
                {% endif %}
                            
                {{ macro.video (video, key) }}
                            
                {% if key is divisibleby(nColumnas) %}
                    </div>
                    {% set nuevaFila = 1 %}
                {% else %}
                    {% set nuevaFila = 0 %}
                {% endif %}
                
            {% endfor %}#}
    </div> 
{% endblock %}
