<div class="media_drcha">
    <div id="map_canvas"></div>
    <ul id="situacion">
        <li id="cont_direccion">{{values.datosContacto.direccion}} | {{values.datosContacto.codigoPostal}} {{values.datosContacto.poblacion}} ({{values.datosContacto.provincia}})</li>
        <li id="cont_telefono">{{values.datosContacto.telefono1}}</li>
        <li id="cont_mail"><a href="mailto:{{values.datosContacto.emailInfo}}" title="Escr&iacute;benos a: {{values.datosContacto.emailInfo}}">{{values.datosContacto.emailInfo}}</a></li>
    </ul>
</div>